<%= form_for @user, :html => {:multipart => true}  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control margin-bottom-20" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control margin-bottom-20" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control margin-bottom-20" %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.select :role, options_for_select(["Borrower", "Investor"]), class: "form-control margin-bottom-20" %>
    <br /><br />
  </div>
  <div class="field">
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address, class: "form-control margin-bottom-20" %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "form-control margin-bottom-20" %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state, class: "form-control margin-bottom-20" %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip, class: "form-control margin-bottom-20" %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, class: "form-control margin-bottom-20" %>
  </div>

  <div class="field">
    <%= f.label :undergrad_degree %><br>
    <%= f.text_field :undergrad_degree, class: "form-control margin-bottom-20" %>
  </div>
    <div class="field">
    <%= f.label :graduate_degree %><br>
    <%= f.text_field :graduate_degree, class: "form-control margin-bottom-20" %>
  </div>
    <div class="field">
    <%= f.label :gpa %><br>
    <%= f.text_field :gpa, class: "form-control margin-bottom-20" %>
  </div>
    <div class="field">
    <%= f.label :class_rank %><br>
    <%= f.text_field :class_rank, class: "form-control margin-bottom-20" %>
  </div>
    <div class="field">
    <%= f.label :employer %><br>
    <%= f.text_field :employer, class: "form-control margin-bottom-20" %>
  </div>
    <div class="field">
    <%= f.label :current_salary %><br>
    <%= f.text_field :current_salary, class: "form-control margin-bottom-20" %>
  </div>
    <div class="field">
    <%= f.label :credit_score %><br>
    <%= f.text_field :credit_score, class: "form-control margin-bottom-20" %>
  </div>
    <div class="field">
    <%= f.label :linkedin %><br>
    <%= f.text_field :linkedin, class: "form-control margin-bottom-20" %>
  </div>
    <div class="field">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook, class: "form-control margin-bottom-20" %>
  </div>
    <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter, class: "form-control margin-bottom-20" %>
  </div>
  <div class="actions">
    <%= f.submit "Update Profile", class: "btn-u" %>
  </div>
<% end %>
