<h1>Students in Need of Funding</h1>

<% @students.each do |student| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= student.first_name + " " + student.last_name %></h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Amount of Funding Needed: <%= student.amount %></li>
          <li>Location: <%= student.city %></li>
          <li>Bio: <%= student.bio %></li>
        </ul>
        <p><%= link_to "Visit Full Profile", student_path(student) %></p>
      </div>
    </div>
<% end %>


<!--=== Content Part ===-->
<div class="container">   
  <div class="row blog-page">    
        <!-- Left Sidebar -->
      <div class="col-md-9 md-margin-bottom-40">
        <% @students.each do |student| %>
            <!--Blog Post-->
            <div class="row blog blog-medium margin-bottom-40">
                <div class="col-md-5">
                    <%= image_tag student.image, width: "100%" %>
                </div>    
                <div class="col-md-7">
                    <h2><%= student.first_name + " " + student.last_name %></h2>
                    <ul class="list-unstyled list-inline blog-info">
                        <li>Amount of Funding Needed: <%= student.amount %></li>
                        <li>Location: <%= student.city %></li>
                    </ul>
                    <p><%= student.bio %></p>
                    <p><i class="icon-location-arrow"></i><%= link_to "Visit Full Profile", student_path(student), class: "btn-u btn-u-small" %></p>
                </div>    
            </div>
            <!--End Blog Post-->        

            <hr class="margin-bottom-40">
            <% end %>

