<!--=== Content Part ===-->
<div class="container">   
  <div class="row blog-page">    
        <!-- Left Sidebar -->
    <div class="col-md-12 md-margin-bottom-40">
      <h1>Students in Need of Funding</h1>
      <% @users.each do |user| %>
      <!--Blog Post-->
      <div class="well">
        <div class="row blog blog-medium margin-bottom-40">
          <div class="col-md-5">
            <% if user.image %>
              <%= image_tag user.image, width: "80%" %>
            <% else %>
              <%= image_tag("main12.jpg") %>
            <% end %>
          </div>    
          <div class="col-md-7">
            <h2><%= user.first_name + " " + user.last_name %></h2>
              <% if current_user %>
              <p><strong>Amount of Funding Needed: <%= number_to_currency(user.loans.first.amount) %></strong></P>
              <% end %>
              <p>Location: <strong><%= user.city %></strong></p>
              <% if user.undergrad_degree %>
              <p>Undergraduate Degree: <strong><%= user.undergrad_degree %></strong></p>
              <% end %>
              <% if user.graduate_degree %>
              <p>Graduate Degree: <strong><%= user.graduate_degree %></strong></p>
              <% end %>
              <% if user.employer %>
              <p>Employer: <strong><%= user.employer %></strong></p>
              <% end %>
              <% if user.gender %>
              <p>Gender: <strong><%= user.gender %></strong></p>
              <% end %>
              <% if user.ethnicity %>
              <p>Ethnicity: <strong><%= user.ethnicity %></strong></p>
              <% end %>
              <% if user.religion %>
              <p>Religion: <strong><%= user.religion %></strong></p>
              <% end %>
            
            <p><%= user.bio %></p>
            <p><%= link_to "Visit Full Profile", user_path(user), class: "btn-u btn-u-small" %></p>
          </div>    
        </div>
      </div>
      <!--End Blog Post-->        

      <hr class="margin-bottom-40">
      <% end %>

              <!--Pagination-->
      <div class="text-center">
        <ul class="pagination">
          <li><a href="#">«</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">8</a></li>
          <li><a href="#">»</a></li>
        </ul>                                                            
      </div>
      <!--End Pagination-->
    </div>
  </div>
  <!-- End Left Sidebar -->

</div>


