<% if @user.role = "borrower" %>
  <h1>Student Profile</h1>
<% else @user.role = "investor"%>
  <h1>Investor Profile</h1>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @user.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user.zip %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<% if @user.role = "borrower" && @user.loans != nil %>
  <h3>Student Loan Needed</h3>
  <% @user.loans.each do |loan| %>
  <%= loan.amount %>
  <% end %>
  <%= button_to new_user_investment(@current_user)%>
  Invest in this Student
  <% end %>
<% else @user.role = "investor" && @user.investments != nil %>
  <h3>Student Loan Needed</h3>
  <% @user.investments.each do |investment| %>
  <%= investment.amount %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
