<p id="notice"><%= notice %></p>

<!--=== Content Part ===-->
<div class="container">   
  <div class="row portfolio-item margin-bottom-50"> 
        <!-- Content Info -->        
        <div class="col-md-6 md-margin-bottom-40">
          <% if @user.role == "borrower" %>
            <h1>Student Profile</h1>
          <% else @user.role == "investor"%>
            <h1>Investor Profile</h1>
          <% end %>
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>
              <% if @user.city %>
              <p>Location: <strong><%= @user.city %></strong></p>
              <% end %>
              <% if @user.undergrad_degree %>
              <p>Undergraduate Degree: <strong><%= @user.undergrad_degree %></strong></p>
              <% end %>
              <% if @user.graduate_degree %>
              <p>Graduate Degree: <strong><%= @user.graduate_degree %></strong></p>
              <% end %>
              <% if @user.employer %>
              <p>Employer: <strong><%= @user.employer %></strong></p>
              <% end %>
              <% if @user.gender %>
              <p>Gender: <strong><%= @user.gender %></strong></p>
              <% end %>
              <% if @user.ethnicity %>
              <p>Ethnicity: <strong><%= @user.ethnicity %></strong></p>
              <% end %>
              <% if @user.religion %>
              <p>Religion: <strong><%= @user.religion %></strong></p>
              <% end %>
              <p><%= @user.bio %></p>
              <br />
              <%= render "pages/social_media" %>
              <br />           

        <% if current_user && current_user == @user %>
          <%= link_to 'Edit Login Information', edit_user_registration_path %> |
          <%= link_to 'Edit Profile', edit_user_path(@user) %> |
          <%= link_to 'Back', users_path %>
        <% end %>
        </div>
        <!-- End Content Info -->        

        <!-- Carousel -->
        <div class="col-md-6 text-center">
          <% if @user.role == "borrower" %>
          <%= image_tag @user.image, width: "70%" %>
          <br /><br />
          <div class="alert alert-success"><h4>Will Score: <%= @user.will_score %></h4></div>
          <% end %>
        </div>
        <!-- End Carousel -->
    </div><!--/row-->

    <div class="margin-bottom-20 clearfix"></div>

    <!-- Recent Works -->
    <% if @user.role == "borrower" %>
    <div class="headline"><h2>Student Loan Needed</h2></div>
    <div class="margin-bottom-40">
      <div class="row">
        <div class="col-md-12">
          <% if current_user && @user.loans != nil %>
              <% @user.loans.each do |loan| %>
              <strong>Outstanding Debt: <%= number_to_currency(loan.amount) %></strong>
              <% end %>
              <br /><br />
              <%= link_to "Invest in this Student", new_user_investment_path(user_id: current_user.id), class: "btn-u" %>
          <% else %>
            <p>Are you a potential investor? Visit the <strong><%= link_to "Investing Page", pages_investors_path %></strong> to learn more about how you can help <%= @user.name %> achieve their goals.</p>
          <% end %>
        </div>
      </div>
    </div>

  <!-- Recent Works -->
    <div class="headline"><h2>Student Highlights</h2></div>
    <div class="margin-bottom-40">
      <div class="row">
        <% if current_user %>
        <div class="col-md-4">
            <span>
              <h4><strong>Academic Performance</strong></h4>
              <p>GPA: <%= @user.gpa %></p>
              <p>Class Rank: <%= @user.class_rank %></p>
            </span>
          </a>
        </div>
        <div class="col-md-4">
            <span>
              <h4><strong>Earning Potential</strong></h4>
              <p>Current Salary: <%= @user.current_salary %></p>
              <p>Employer Recomendation: <%= @user.employer_recommendation %></p>
            </span>
          </a>
        </div>
        <div class="col-md-4">
            <span>
              <h4><strong>Credit History</strong></h4>
              <p>Credit Score: <%= @user.credit_score %></p>
            </span>
          </a>
        </div>
        <% else %>
        <div class="col-md-12">
        <p>This information is only visible to registered investors. Visit the <strong><%= link_to "Investing Page", pages_investors_path %></strong> to learn more.</p>
        <% end %>
      </div>
      </div><!--/row-->
    </div>
  <% end %>
                 
  <!-- End Recent Works -->                

</div><!--/container-->   
  <!--=== End Content Part ===-->
