
<!--=== Content Part ===-->
<div class="container">   
  <div class="row margin-bottom-30">
      <div class="col-md-offset-2 col-md-8 md-margin-bottom-40">
        <h1>About Us</h1>
            <p>At Sallie Will it's about you it's not about us. </p>

              <p>Sallie Will is a social refinancing platform for high achieving students to offer up their low risk student loans on the open market. Our peer-to-peer lending platform personally connects dedicated alumni with the exact students they are sponsoring forming lifelong professional relationships.</p>

            <p>Our amazing team came together on the Florida Startup Bus to fix the inequity created by the $1.2 trillion student loan market by launching a peer to peer lending platform where students can elegantly market themselves to friends, family, alumni and other investors to lower their overpriced interest rates, while giving them an opportunity to make a decent return in the process.</p>

            <p>Student loans are the only loans issued without any type of rating as to whether the institution trusts that student to be able to pay it back. Sallie Will gives the most trustworthy and accomplished students a social and simple place to upload their qualifications and using our proprietary algorithm show their trustworthiness and share their stories so investors will feel safe and proud to invest in them.</p>

            <br />

            <strong><%= link_to "Browse Student Profiles", users_path, class: "btn-u btn-large" %></strong>

      </div>

  </div><!--/row-->

  <!-- Meer Our Team -->
  <div class="headline"><h2>Meet Our Team</h2></div>
  <div class="row team">
    <div class="col-sm-3">
      <div class="thumbnail-style">
          <%=image_tag "chris.jpg", width: "100%" %>
          <h3><a>Chris Scott</a></h3>
          <p>Chris a self-taught product designer and front end developer from Miami, FL. He has a passion for hackathons and building beautiful designs from scratch.</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail-style">
          <%=image_tag "isaac.jpg", width: "100%" %>
          <h3><a>Isaac Mizrahi</a> <small>Project Manager</small></h3>
          <p>DCurrently in his second year at the University of Florida Levin College of Law, he focuses on intellectual property. After graduating from Duke University, Isaac joined Techstars’ first ever Startup Summer program and worked as a Do Everything for Simple Energy, a Boulder based startup that uses behavioral economics to influence the way people use energy. Last summer, he worked in Zumba Fitness, LLC’s legal department drafting contracts and tracking down trademark violations. This summer, he will be working at the law firm of Tripp Scott in Fort Lauderdale in their Entrepreneurship department helping startup with all of their legal needs and achieve their dreams.</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail-style">
          <%=image_tag "jason.jpg", width: "100%" %>
          <h3><a>Jason Ibarra</a> <small>VP of Operations</small></h3>
          <p>Jason is the Director of Digital Strategy for TEDxMiami, Search Engine Marketing Chair for the South Florida Interactive Marketing association and adviser to dozens of successful business in Miami. While growing Exults, a Fort Lauderdale marketing agency, he oversaw a team of 30 highly productive personalities. These days he spend as much time as possible in the Miami start up scene. Every Saturday, working on his early stage company, giving objective points of view on friends' startups or learning more while at The LAB co-working space.</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="thumbnail-style">
          <%=image_tag "rosanne.jpg", width: "100%" %>
          <h3><a>Rosie Hoyem</a></h3>
          <p>Rosie found programming in a variety of places. She started by learning about design as an undergraduate at the University of Minneasota in the Architecture program. She then moved on to learn more about cities and how data and technical analysis tools are used to understand complex problems while in the City and Regional Planning program at Cornell University. Most recently, she graduated the Flatiron School for programming and has become an expert in back end deployment.</p>
      </div>
    </div>
  </div><!--/team-->
<!-- End Meer Our Team -->
</div>



