<div class="row">
  <!-- Carousel
    ================================================== -->
  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <div class="carousel-inner">
      <%= image_tag "homepage-header-sallie03.jpg", width: "100%" %>
      <div class="container">
        <div class="carousel-caption">
          <h2>PHILANTHROPIC CAPITAL:</h2>
          <h2><i>INVESTING IN OUR FUTURE</i></h2>
          <p><i>Connecting visionary alumni </i> <br /> <i>directly to high achieving</i> <br /> <i>students & graduates.</i></p>
          <button class="btn-cta">CTA 1</button><button class="btn btn-large btn-primary">CTA 2</button>
      </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <%= render "purchase_block" %>
  <%= render "service_block" %>
  <%= render "featured_blocks" %>
  <%= render "info_block" %>
</div>

