<div class="row">
  <!-- Carousel
    ================================================== -->
  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <div class="carousel-inner">
      <%= image_tag "homepage-header-sallie03.jpg", width: "100%" %>
      <div class="container">
        <div class="carousel-caption">

          <h2>Philantropic Capitol:</h2>
          <h2>Investing in Our Future
            <small>
              <p>Connecting visionary alumni directly <br/>to high achieving students & graduates.</p>
            </small>
          </h2>
          <div class="btn-cta-group">
            <%= link_to "Students", pages_students_path, class: 'btn-cta' %>
            <%= link_to "Investors", pages_investors_path, class: 'btn-cta' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <%= render "purchase_block" %>
  <%= render "service_block" %>
  <%= render "featured_blocks" %>
  <%= render "info_block" %>
</div>

