<!DOCTYPE html>
<html>
<head>
  <title>Sallie Will</title>
  <%= favicon_link_tag('favicon.png')%>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--=== Header ===-->    
<div class="header">
  <div class="navbar" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand hidden-md hidden-lg" style="padding: 10px" href="index.html">
          <%= link_to image_tag('salliewillFull.png',  :class =>'logo'), root_path, :class => 'navbar-brand hidden-md hidden-lg', :style => 'padding: 10px;' %>
        </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <%= link_to image_tag('salliewillFull.png',  :class =>'logo'), root_path, :class => 'navbar-brand hidden-sm hidden-xs', :style => 'padding: 10px;' %>

        <ul class="nav navbar-nav navbar-right" style="padding: 25px 0">
          <li><%=link_to "Explore", users_path %></li>
          <li><%=link_to "How It Works", pages_how_it_works_path %></li>
          <li><%=link_to "Students", pages_students_path %></li>
          <li><%=link_to "Investors", pages_investors_path %></li>
          <li><%=link_to "About Us", pages_about_path %></li>
          <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.name%> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Profile', user_path(id: current_user.id)%>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          <% else %>
            <li>
              <%= link_to "Login", new_user_session_path, class:'btn btn-login navbar-btn' %>
            </li>
          <% end %>
        </ul>
      </div><!-- /navbar-collapse -->
    </div>    
  </div>     
</div><!--/header-->
<!--=== End Header ===-->    
<%= notice %>
<%= alert %>


<%= yield %>

<!--=== Footer ===-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
           <div class="headline"><h2>Monthly Newsletter</h2></div> 
        <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
        <form class="footer-subsribe">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email Address">                            
            <span class="input-group-btn">
              <button class="btn-u" type="button">Subscribe</button>
            </span>
          </div><!-- /input-group -->                    
        </form>           
      </div><!--/col-md-4-->  
      
<!-- Monthly Newsletter -->
      <div class="col-md-4 md-margin-bottom-40">
        <!-- Monthly Newsletter -->
            <div class="headline"><h2>Contact Us</h2></div> 
                <address class="md-margin-bottom-40">
          Phone: 800-984-1862<br />
          Email: <a href="mailto:accounts@salliewill.com" class="">accounts@salliewill.com</a>
                </address>
      </div><!--/col-md-4-->

      <div class="col-md-4">
            <!-- Stay Connected -->
            <div class="headline"><h2>Stay Connected</h2></div> 
              <p><%= link_to image_tag("linkedin.png"), root_path %>        <%= link_to image_tag("facebook.png"), root_path %>        <%= link_to image_tag("twitter.png"), root_path %></p>
      </div><!--/col-md-4-->
    </div><!--/row--> 
  </div><!--/container--> 
</div><!--/footer-->  
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">            
        <p class="copyright-space">
          2014 &copy; SallieWill. ALL Rights Reserved. 
          <%= link_to "Privacy Policy", pages_privacy_policy_path %> | <%= link_to "Terms of Service", pages_terms_of_service_path %>
        </p>
      </div>

    </div><!--/row-->
  </div><!--/container--> 
</div><!--/copyright--> 
<!--=== End Copyright ===-->


</body>
</html>
